body, html{margin: 0;}
h1 {font-family: 'Courier New', Courier, monospace;}
p {font-family: 'Courier New', Courier, monospace}

.segment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

.right {
    background-color: black;;
}
.content {
    justify-content: space-between;
    display: flex;
}

.title {
    text-align: center;
}

input {
    width: 50px;
    height: 50px;
    transition: cubic-bezier(0.34, 2.56, 0.30, 1) all 0.4s;
    border: 0;
    background: none;
    border-radius: 20px;
    cursor: pointer
}

input:hover{
    width: 100px;
    height: 100px;
}

.color {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 30px;
}

button {
    background-color: rgb(94, 105, 245);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 17px;
    transition: cubic-bezier(0.34, 2.56, 0.30, 1) all 0.4s;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    height: 70px;
    width: 150px;
}
