body, html{margin: 0; background-image: url('hbg.png'); background-size: 50%;}
h1 {font-family: 'Courier New', Courier, monospace;}
p {font-family: 'Courier New', Courier, monospace}

.segment {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100vh;
}

.right {
    background-color: black;;
}
.content {
    justify-content: space-between;
    display: flex;
}

.title {
    text-align: center;
}

input {
    width: 50px;
    height: 50px;
    transition: cubic-bezier(0.34, 2.56, 0.30, 1) all 0.4s;
    border: 0;
    background: none;
    border-radius: 20px;
    cursor: pointer
}

input:hover {
    width: 100px;
    height: 100px;
}

.color {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 30px;
}

button {
    background-color: rgb(185, 185, 185);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 17px;
    transition: cubic-bezier(0.34, 2.56, 0.30, 1) all 0.4s;
    padding: 0px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 0px;
}

button:hover {
    height: 70px;
    width: 150px;
    box-shadow: 9px 9px 0px;
}

button:active {
    height: 50px;
    width: 130px;
    box-shadow: 4px 4px 0px;
}

input:focus {
    width: 100px;
    height: 100px;
}
input:active {
    height: 50px;
    width: 130px;
}

.footer {
    text-align: center;
    border-top: black 3px solid;
}

#cursor {
    opacity: 1;
    animation: cursor ease infinite 1s
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}